*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: source sans;
}
@font-face {
    font-family: source sans;
    src: url(font/SourceSansPro-Black.otf) format(opentype);
}
body {
    background-image: url("image/background.png");
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
.head {
    position: relative;
    padding: 0 2rem;
}
li {
    list-style: none;

}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover {
    color: orange;
}
.nav {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.nav .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav .links {
    display: flex;
    gap: 2rem;
}
.div1 {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}
.btn:hover {
    scroll-behavior: 1.05;
    color: #fff;
}
.btn:hover {
    scale: 0.95;
}
.menu.op {
    height: 240px;
}
.menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 992px){
    .nav .links,
    .nav .btn {
        display: none;
    }

    .nav .btn1 {
        display: block;
    }

    .menu {
        display: block;
    }
}
@media (max-width: 576px){
    .menu {
        left: 2rem;
        width: unset;
    }
}
section#home {
    height: calc(100vh - 700px);
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
}
section#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}